body {
    background-image: linear-gradient(red, gold, green);
}

h1 {
    color: black;
}

img {
    width: 500px;
    height: 400px;
}

ul, li {
    color: black;
}

body {
    border: 5px solid black;
    padding: 10px;
}
